:host {
  display: block;


  .quarterly-goals-item-container {
    display: flex;
   background-color: #FFFFFF;
    width: 387px;
    height: 65px;
    padding: 0px 10px 4px 0px;
    
      .strike {
        text-decoration: line-through;
      }

    .goal-details {
      display: flex;
      flex-direction: column;
      flex: 1;
      padding-top: 8px;

      .goal-title {
        font-size: 16.25px;
        color: #5A5A5A;
      }

      .second-row {
        display: flex;
        flex-direction: row;
        gap: 150px;
        
        .goal-hashtag {
          font-size: 15px;
          color: #2DBDB1;
        }
  
        .order {
          font-size: 15px;  
        }
      }  
    }
  }
}
