.content-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: rgb(236, 237, 255);
  overflow-y: auto;
}

.long-term-goals-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2% 5% 2% 5%;
  background-color: white;
}

.long-term-goals-header h1 {
  font-size: 69.42px;
  color: #4B5853;
  font-weight: 400;
  line-height: 100%;
}

.edit-button {
  cursor: pointer;
  color: #2DBDB1;
  background: transparent;
  border: 0;
  width: 80px;
  height: 80px;
  
}

.edit-icon {
  width: 50.420291900634766px;
  height: 50.464088439941406px;
}