<div class="navbar-container">
  <img class="logo" src="images/logo.svg">
  @if (currentUser()) {
    <div class="user-setting-section">
      <div class="logout-container"[matMenuTriggerFor]="menu">
        Logout
        <mat-icon [matMenuTriggerFor]="menu" class="logout-icon">logout</mat-icon>
      </div>
      <mat-menu #menu="matMenu">
        <div class="logout" (click)="logout()">
          <span>
            Logout
          </span>
        </div>
      </mat-menu>
    </div>  
  }
</div>
