.weekly-goals-header-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: #4b5853;

  .top-bar {
    display: flex;
    padding: 32px 10px 0px 18px;
    .card-title {
      font-size: 28px;
    }
    .edit-button {
      cursor: pointer;
      background: none;
      border: none;
      align-self: flex-end;
      margin-left: auto;
      .edit-icon {
        width: 20px;
        height: 20px;
      }
    }
  }
  .week-timeframe {
    font-size: 22px;
    font-weight: bold;
    padding-left: 18px;
    margin-top: 18px;
  }
}