.quarterly-goals-header-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  width: 40%;
  color: #4b5853;
  padding: 20px;


  .top-bar {
    display: flex;
    padding-top: 1%;
    margin-top: 10px;
    .card-title { 
      font-size: 28px;
    }
    .edit-button {
      cursor: pointer;
      background: none;
      border: none;
      align-self: flex-end;
      margin-left: auto;

      .edit-icon {
        width: 20px;
        height: 20px;
    }
  }
}


  .quarter-timeframe {
    font-size: 22.5px;
    font-weight: bold;
    margin-top: 5px;
    padding-top: 2.5%;
    
  }
}
