<div class="onboard-weekly-goals-container">
  <div class="progress-bar-container">
    <div class="progress-bar">
      <div class="step completed">
        <span class="step-title">LONG TERM GOALS</span>
        <div class="step-indicator">
          <div class="step-circle"></div>
        </div>
      </div>
      <div class="step completed">
        <span class="step-title">QUARTER GOALS</span>
        <div class="step-indicator">
          <div class="step-circle"></div>
        </div>
      </div>
      <div class="step completed">
        <span class="step-title">ORGANIZE</span>
        <div class="step-indicator">
          <div class="step-circle"></div>
        </div>
      </div>
      <div class="step active">
        <span class="step-title">WEEKLY GOALS</span>
        <div class="step-indicator">
          <div class="step-circle"></div>
        </div>
      </div>
      <div class="step upcoming">
        <span class="step-title">ORGANIZE</span>
        <div class="step-indicator">
          <div class="step-circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="content-container"></div>
</div>
